# Node
node_modules/
npm-debug.log
yarn-error.log

# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# IDEs and editors
.idea/
.vscode/
.project
.classpath
.settings/
*.launch
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
