<div class="Header">
    <div class="HeaderOne">
        <p>
            Home &gt; Bus Tickets &gt; {{this.departure}} Bus &gt; {{this.departure}} to {{this.arrival}}
        </p>
        <p>Fare Starts from INR 100 </p>
        <button class="btn-plan-route" routerLink="/route-planner"
            style="margin-left: 20px; padding: 5px 10px; background-color: #d84e55; color: white; border: none; border-radius: 4px; cursor: pointer;">Plan
            a route using map</button>
    </div>
    <div class="HeaderTwo">
        <h3>
            Departure to {{this.arrival}} on {{this.date}}
        </h3>
    </div>
</div>