/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark body {
    background-color: #121212;
    color: #ffffff;
}

::-webkit-scrollbar {
    background: white;
    width: 0;
}